{
    "branches": [
        "*"
    ],
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "verifyReleaseCmd": "echo ${nextRelease.version} > NEXT_VERSION; echo ${lastRelease.version} > CURRENT_VERSION"
            }
        ]
    ]
}