name: ${APP_NAME:-sugar-suite}

services:
  app:
    build:
      context: .
      target: builder
      platforms:
        - linux/amd64
        - linux/arm64

    command: npm run preview

    environment:
      - DEBUG=true
      - CI=false
      - NODE_ENV=development

    # https://docs.docker.com/compose/how-tos/file-watch/
    # develop:
    #   watch:
    #     - action: sync
    #       path: ./src
    #       target: /app
    #       ignore:
    #         - node_modules/
    #     - action: rebuild
    #       path: package.json

    volumes:
      - /app/node_modules
      - ./:/app

    ports:
      - "9000:9000"
