/*------------------------------------*\
        $Media Icons
\*------------------------------------*/
@use "../../variables/sizing" as *;
@use "../../variables/fonts" as *;

.media {
	padding-left: 25px;
	padding-right: 25px;
	&:before {
		font-family: FontAwesome;
		//margin: 0 $space-half 0 0;
		margin-left: -20px;
		margin-right: 7px;
	}
	&:after {
		font-family: FontAwesome;
		margin: 0 0 0 $space-half;
	}
}

figcaption {
	@extend .media;
}

//figure.table caption {
//	@extend figcaption;
//	display: table-caption !important;
//	margin-top: 5px; // TODO: Fix this hack which replicates margin-bottom on img, video, audio in figures.
//}
//
figure.table figcaption:before {
	content: "\f0ce";
}

figure.image, figure.img{
    figcaption:before {
        content: "\f030";
    }
} 

figure.audio figcaption:before {
	content: "\f028";
}

figure.video figcaption:before {
	content: "\f008";
}

figure.math figcaption:before {
	content: "\f1ec";
}

figure.math {
	> p,
	> math,
	> .MathJax {
		margin-bottom: .25em;
		display: block;
		overflow-x: auto;
		overflow-y: hidden;
		padding-top: 10px;
		text-align: center;
	}
	> math,
	> p > math {
		font-size: 1.3em;
	}
	&.left {
		> p,
		> math,
		> .MathJax {
			text-align: left;
			padding-left: 10%;
			
		}
	}
}

.external-link-icon {
	@extend .media;
	&:after {
		content: "\f08e";
	}
}

.pdf-icon {
	@extend .media;
	&:after {
		content: "\f1c1";
	}
}

.word-icon {
	@extend .media;
	&:after {
		content: "\f1c2";
	}
}

.excel-icon {
	@extend .media;
	&:after {
		content: "\f1c3";
	}
}