@use "../../scss/partials/actions/button";
.container {
	overflow: hidden;
}


/*
<article class="flashcard-container">
	<nav class="card-controls">
		<button id="prev">Previous Card</button>
		<button id="flip">Flip Card</button>
		<button id="next">Next Card</button>
	</nav>
	<section class="stack" tabindex="0">
		<div class="card top-card" style="transform: rotate(2.46deg); top: 18px; left: 14px; z-index: 1000;">
			<div class="front">
				<div class="centered">Hello</div>
			</div>
			<div class="back">
				<div class="centered">World</div>
			</div>
		</div>
		<div class="card bottom-card" style="transform: rotate(2.86deg); top: -13px; left: -12px; z-index: 999;">
			<div class="front">
				<div class="centered">Bonjour</div>
			</div>
			<div class="back">
				<div class="centered">Monde</div>
			</div>
		</div>
	</section>
</article>

*/


// /*@for $i from 1 through 150 {
// 	.card\#{$i} {
// 		z-index: 1000 - $i;
// 	}
// }*/

// Card Content Styling:
.card {
	img {
		float: left;
		margin: 0 10px 10px 10px;
		height: auto;
		width: 33%;
	}
}

.flashcard-container {
	perspective: 1000px;
	//overflow: hidden;
	//overflow-y: visible;  // Actually interpreted as auto due to overflow-x value
	position: relative;
	// The following gives space above the card to animate
	pointer-events: none;
	padding-top: 350px;
	clear: both;
	top: -350px;
	margin-bottom: -350px;
	width: 125%;
	margin-left: -12.5%;
	margin-right: -12.5%;
	.card-stack {
		position: relative;
		width: 464px;
		height: 278px;
		margin: 50px auto 80px;
		outline: none;
	}
	// Allows the element following to sit against it
	+ * {
		margin-top: -350px;
	}
	// Provide Interaction with top-card
	.top-card {
		.front {
			pointer-events: auto;
		}
		&.flipped {
			.front {
				pointer-events: none;
			}
			.back {
				pointer-events: auto;
			}
		}
	}
}

// CARD STYLING
.flashcard-container .card {
	perspective: 1000px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	text-align: center;
	.front,
	.back {
		perspective: 1000px;
		transition: transform .5s;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, .3), inset 0 0 300px rgba(25, 28, 65, 0.05);
		backface-visibility: hidden;
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin-right: -150px;
		padding: 20px 15px;
		background: #fafafa;
		text-align: center;
	}
	.front:before,
	.back:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.centered {
		display: inline-block;
		vertical-align: middle;
	}
	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}
	.back {
		transform: rotateY(-180deg);
	}
	&.top-card {
		z-index: 1001; // NEEDED????????????????
		transition: transform .5s ease; // messes up firefox
		transform: none !important;
	}
}

// ANIMATIONS
@keyframes swapNext {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(45deg);
	}
	99% {
		transform: rotateZ(1deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes swapPrev {
	0% {
		transform: rotateZ(0deg) translateX(0%);
	}
	50% {
		transform: rotateZ(0deg) translateX(110%);
	}
	100% {
		transform: rotateZ(0deg) translateX(0%);
	}
}


/* Temp Card Flip Animation used in conjunction with transition on .card */

.flipped .front {
	transform: rotateY(180deg) !important;
}

.flipped .back {
	transform: rotateY(0deg) !important;
}


/* Next Card Animation */

.swap-next {
	transform-origin: 165% 158%;
	animation: swapNext .9s;
	animation-timing-function: ease-in-out;
	transition-property: none;
}


/* Prev Card Animation */

.swap-prev {
	transform-origin: 165% 158%;
	animation: swapPrev .9s;
	animation-timing-function: ease-in-out;
	transition-property: none;
}

// Buttons
.flashcard-container {
	.card-stack:focus {
		box-shadow: 1px 1px 75px cyan;
	}
	.card-controls {
		width: 170px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	// BUTTONS
	button {
		pointer-events: all;
		@extend .btn;
		display: inline-block;
		margin-right: 10px;
		font-size: 0;
		letter-spacing: 0;
		padding: 5px;
		width: 30px;
		height: 30px;
		&:before {
			font-size: 20px;
			text-align: center;
			text-indent: 0px;
			font-family: FontAwesome;
		}
	}
	.next:before {
		content: "\f0da";
	}
	.prev:before {
		content: "\f0d9";
	}
	.flip:before {
		content: "\f021";
	}
	.view-table:before {
		content: "\f0ce";
	}
}