@use "../../bcit";

.brain {
	@extend .activity;
	&:before {
		background-image: url("/assets/icons/temp/retail-marketing-management-brain.png");
	}
}

.exclaim {
	@extend .activity;
	&:before {
		background-image: url("/assets/icons/temp/retail-marketing-management-exclaimation.png");
	}
}

/* 

From MKTG 2420

@charset "utf-8";
.container {
	width: 95%;
	max-width: 700px;
	margin-bottom: 50px;
	padding: 0px;
}

h1 {
	color: #31708f;
	border-bottom: 1px solid #eee;
}

li {
	padding-bottom: 10px;
}

th {
	background-color: #31708f;
	color: #fff;
	text-align: center;
}

iframe {
	width: 100%;
	margin-top: 10px;
	border: none;
}

audio {
	margin-top: 20px;
	margin-bottom: 10px;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border: 1px solid #EEE;
	padding: 15px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #7EBDDC;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #C4E1EF;
}

figure {
	margin: 10px 0;
}

figcaption {
	padding: 3px 0;
	font-weight: bold;
	text-align: center;
}

img {
	border-radius: 5%;
	margin: 10px;
	margin-left: 10px 0;
	margin-right: 20px 0;
}

.bg-info,
.bg-primary,
.bg-warning,
.bg-warning,
.bg-success {
	padding: 15px;
	margin-bottom: 10px;
}

.hangingindent {
	padding-left: 22px;
	text-indent: -22px;
}

.instruction {
	border-radius: 10px;
	background-color: #EEF5FF;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-bottom: 15px;
}

.imageleft {
	padding-right: 25px;
	padding-bottom: 10px;
	float: left;
}

.imageright {
	padding-left: 10px;
	padding-bottom: 10px;
	float: right;
}

.caption {
	font-size: small;
	font-style: italic;
	text-align: right;
}

.notepaper {
	position: relative;
	margin: 30px auto;
	padding: 29px 20px 20px 45px;
	width: 500px;
	line-height: 30px;
	color: #6a5f49;
	text-shadow: 0 1px 1px white;
	background-color: #f2f6c1;
	background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
	background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
	background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
	border: 1px solid #c3baaa;
	border-color: rgba(195, 186, 170, 0.9);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}

.notepaper:before,
.notepaper:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
}

.notepaper:before {
	left: 28px;
	width: 2px;
	border: solid #efcfad;
	border-color: rgba(239, 207, 173, 0.9);
	border-width: 0 1px;
}

.quote {
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: italic;
	font-size: 16px;
}

#hide1,
#hide2 {
	background-color: #eee;
	border-radius: 5px;
	width: 90%;
	margin: 10px 0px 10px 15px;
	padding: 20px;
}

#show1,
#show2 {
	margin: 15px 0px 15px;
}

.media {
	margin: 30px 30px 0px 0px;
	font-weight: 400;
	line-height: 26px
}

.media-body {
	margin: 0 0 9px 0;
}

.pull-left {
	float: left;
	margin-right: 40px;
}

.inlineblock {
	display: inline-block;
}

.center {
	text-align: center;
}

.indent {
	margin-left: 100px;
}

.nopad {
	padding: 0px;
}

.nobreak {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

*/