//School of Construction Colors
@use "sass:color";
$primary-color: #B5BD00;
$primary-color-light: color.mix(white, $primary-color, 76%);
$primary-color-dark: color.mix(black, $primary-color, 36%);
$secondary-color: #6FB000;
$secondary-color-light: color.mix(white, $secondary-color, 76%);
$secondary-color-dark: color.mix(black, $secondary-color, 29%);
$complement-color: #5A067F;
$complement-color-light: color.mix(white, $complement-color, 76%);
$complement-color-dark: color.mix(black, $complement-color, 29%);

@import "themes/main";