//School of Computing Colors
$primary-color: #00A3E0;
$primary-color-dark: shade($primary-color, 29%);
$primary-color-light: tint($primary-color, 76%);
$secondary-color: #00EAB9;
$secondary-color-light: tint($secondary-color, 76%);
$secondary-color-dark: shade($secondary-color, 45%);
$complement-color: #FFC700;
$complement-color-light: tint($complement-color, 76%);
$complement-color-dark: shade($complement-color, 45%);

@import "themes/main";