//School of Computing Colors
@use "sass:color";
$primary-color: #00A3E0;
$primary-color-dark: color.mix(black, $primary-color, 29%);
$primary-color-light: color.mix(white, $primary-color, 76%);
$secondary-color: #00EAB9;
$secondary-color-light: color.mix(white, $secondary-color, 76%);
$secondary-color-dark: color.mix(black, $secondary-color, 45%);
$complement-color: #FFC700;
$complement-color-light: color.mix(white, $complement-color, 76%);
$complement-color-dark: color.mix(black, $complement-color, 45%);

@import "themes/main";