
//Breakpoints
$bp-small: 380px;
$bp-small-2: 480px;
$bp-small-3: 650px;
$bp-med: 768px;
$bp-med-2: 939px;
$bp-large: 800px;
//$bp-large-2: 1024px;
//$bp-xl: 1168px;
//$bp-xxl: 1420px;
//$bp-xxxl: 1480px;

//Borders
//$border-med: 3px;
//$border-thick: 7px;

