$bcit-blue: #003C71;
$bcit-grey: #515151;
$bcit-fraser: #00ACA0;
$bcit-seaglass: #49C5B1;
$bcit-moss: #B5BD00;
$bcit-pacific: #0072CE;
$bcit-sky: #00A3E0;
$bcit-dusk: #7474C1;
$bcit-driftwood: #AFA9A0;
$bcit-temlh: #9D2235;

$dark-step: 20%;
$light-step: 60%;
$primary-color: $bcit-blue !default;
$primary-color-light: tint($primary-color, $light-step) !default;
$primary-color-lighter: tint($primary-color-light, $light-step) !default;
$primary-color-lightest: tint($primary-color-lighter, $light-step) !default; 
$primary-color-dark: shade($primary-color, $dark-step) !default;
$primary-color-darker: shade($primary-color-dark, $dark-step) !default;
$primary-color-darkest: shade($primary-color-darker, $dark-step) !default;

$secondary-color: $bcit-sky !default;
$secondary-color-light: tint($secondary-color, $light-step) !default;
$secondary-color-lighter: tint($secondary-color-light, $light-step) !default;
$secondary-color-lightest: tint($secondary-color-lighter, $light-step) !default;
$secondary-color-dark: shade($secondary-color, $dark-step) !default;
$secondary-color-darker: shade($secondary-color-dark, $dark-step) !default;
$secondary-color-darkest: shade($secondary-color-darker, $dark-step) !default;

$complement-color: $bcit-seaglass !default;
$complement-color-light: tint($complement-color, $light-step) !default;
$complement-color-lighter: tint($complement-color-light, $light-step) !default;
$complement-color-lightest: tint($complement-color-lighter, $light-step) !default;
$complement-color-dark: shade($complement-color, $dark-step) !default;
$complement-color-darker: shade($complement-color-dark, $dark-step) !default;
$complement-color-darkest: shade($complement-color-darker, $dark-step) !default;

//Grays
$gray-base: #000 !default;
$gray-darkest: lighten($gray-base, 7.5%) !default; // #111
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333 
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$white: #fff;
$off-white: #f1f1ee;

//transparencies

