//Defaults
$space: 1em;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$space-two-third: $space*2/3;
$space-quarter: $space/4;
$pad: 1em;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;

$border-radius-base: 4px !default;
$border-radius-large: 6px !default;

$container-width-small: 40rem; //18px*40rem = 720px