@use "../../mixins/remove-top-bottom-margin";
@use "../../variables/colors" as *;
@use "../../partials/actions/button";

$knowledge-check-hover-background-color:  $complement-color-lighter !default;
$knowledge-check-selected-background-color: $gray-lighter !default;
$knowledge-check-feedback-background-color: $gray-lighter !default;
$knowledge-check-border-color: $primary-color-light !default;
$knowledge-check-blank-color: $gray-light !default;
$knowledge-check-button-background-color: $secondary-color-dark !default;

//Knowledge Check Styles//

.knowledge-check, .self-test {
	position: relative;
	padding: 20px;
	@include remove-top-bottom-margin.remove-top-bottom-margin();
	>h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: inline-block;
		clear: none !important;
	}
	// for support multiple column purpose
	form {
		padding-left: 20px;
	}
	fieldset {
		position: relative;
		border: none;
	}
	legend {
		font-weight: bold;
		right: 100%;
		position: absolute;
		text-align: right;
	}
	.reset,
	[type='submit'] {
		@extend .btn;
	}
}

.knowledge-check, .self-test {
	fieldset:not(:disabled) {
		ol.options>li>label {
			cursor: pointer;
			&:hover,
			&.hover {
				transition: background .1s ease;
				background: $knowledge-check-hover-background-color;
			}
			&.selected {
				&.hover {
					transition: background .1s ease;
					background: $knowledge-check-hover-background-color;
				}
			}
		}
		input {
			&:not(:disabled) {
				cursor: pointer;
			}
		}
	}
}

.knowledge-check, .self-test {
	ol.options,
	ol.blanks {
		>li {
			position: relative;
			margin-bottom: 10px;
		}
	}
	ol.options {
		>li {
			list-style: none;
			// list-style-type: lower-alpha;
			// list-style-position: inside;

			>label {
				display: inline-block;
				padding: 3px 12px;
				margin-left: -0.2em;
				border-radius: 4px;
				transition: background .5s ease;
	
				>*:first-child {
					text-indent: -1.1em;
					padding-left: 0.7em;
					margin-top: 0 !important;
					margin-bottom: 0 !important;
				}
				>*:last-child {
					padding-left: 0.7em;
					margin-top: 0 !important;
					margin-bottom: 0 !important;
				}
				>div>*:not(:first-child) {
					padding-left: 1.1em;
					margin-top: 0 !important;
					margin-bottom: 0 !important;
				}
				&.selected {
					background: $knowledge-check-selected-background-color;
					transition: background .5s ease;
				}
			}
		}
	
		input[type=radio],
		input[type='checkbox'] {
			position: absolute;
			left: -15px;
			top: 0.6em;
			width: 15px;
			height: 15px;
			margin-left: -10px;
			outline: none;
		}
		&.no-list-style {
			>li {
				list-style: none;
				
				>label {
					>* {
						text-indent: 0 !important;
						padding-left: 0 !important;
					}
				}
			}
		}
	}
}

.knowledge-check, .self-test {
    ol.matchAns{
         display: grid;
		 grid-auto-columns: 1fr;

    }
	ol.matching {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
		list-style: none;
		.correct,
		.incorrect {
			display: inline-block;
			position: relative;
			left: -5px;
		}
        li{
			display: flex;
			align-items: flex-start;
            input{
                float: left;
            }
        }
	}
	input[type='number'] {
		margin-right: 5px;
		max-width: 70px;
        border: solid .5px $knowledge-check-border-color;
        border-radius: 5px;
        background: $knowledge-check-feedback-background-color;
        text-align: right;
	}
}

.knowledge-check, .self-test {
	input[type='text'] {
        margin-left: 5px;
		margin-bottom: 5px;
		min-width: 100px;
        border-radius: 5px;
        border: solid .5px $knowledge-check-border-color;
        background: $knowledge-check-feedback-background-color;
		text-align: center;
		&:disabled {
			cursor: help;
		}
	}
	select {
        border: solid .5px $knowledge-check-border-color;
         margin-left: 5px;
        border-radius: 5px;
        background-color: $knowledge-check-feedback-background-color;
		text-align: center;
		cursor:pointer;
		&.unanswered {
			color: transparent;
		}
		&:disabled {
			cursor: help;
		}
       
	}
}

.knowledge-check, .self-test {
	.ordering {
		margin-left: 60px;
		position: relative;
		li {
			margin-bottom: 30px;
			position: relative;
			.correct,
			.actual,
			.incorrect {
				left: -120px;
               
			}
			.buttons {
				position: absolute;
				left: -90px;
				top: -3px;
				cursor: pointer;
				input[type='button'] {
                   background-color: $knowledge-check-button-background-color;
                    border: none;
                    border-radius: 5px;
                    color: white;
					font-size: 12px;
					padding: 3px;
					width: 25px;
					margin-right: 5px;
					opacity: 1;
					transition: opacity 1s ease;
					cursor: pointer;
					&[disabled] {
						opacity: .2;
						cursor: default;
					}
				}
			}
		}
	}
}

// scss for support multiple column purpose
// for detail info: https://issues.ltc.bcit.ca/web-apps/sugar-suite-v1/issues/230

.knowledge-check.multicolumn, .self-test.multicolumn {
	form {
		&>div, .score{
			flex-grow: 1;
			width: 100%;
		}
	}

	form.multicolumn-2 {
		display: flex;
		flex-wrap: wrap;
		fieldset {
			flex-grow: 1;
			width:47%;
		}
	}
	form.multicolumn-3{
		display: flex;
		flex-wrap: wrap;
		fieldset {
			flex-grow: 1;
			width:27%;
		}
	}	
}

// scss multiple column ends 
.knowledge-check, .self-test {
	.score p {
		font-weight: bold;
		text-align: right;
		margin-bottom: 0;
	}
}

.knowledge-check, .self-test {
	.feedback, .option-feedback {
		@include remove-top-bottom-margin.remove-top-bottom-margin();
		padding: 20px;
		background: $knowledge-check-feedback-background-color;
		border-radius: 5px;
		margin-top: 5px;
        border: 1px dotted $knowledge-check-border-color;
	}
}

.knowledge-check, .self-test {
	.blank-open-ended {
		background: $knowledge-check-blank-color;
		padding: 0 4px;
	}
	.blank-accepted {
		color: gray;
	}
}

.knowledge-check, .self-test {
	.correct {
		color: green;
		font-size: 1.5em;
	}

	.incorrect {
		color: red;
	}

	.actual {
		color: blue;
	}

	li {
		.correct,
		.incorrect,
		.actual {
			position: absolute;
			left: -60px;
		}

		.correct {
			top: -3%;
		}

    }

    .error-warning {
        @include remove-top-bottom-margin.remove-top-bottom-margin();
		padding: 20px;
		background: rgb(255, 215, 215);
		border-radius: 5px;
		margin-top: 5px;
        border: 1px dotted red;
    }
}
