@use "../../variables/colors" as *;

.slider {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 !important;
    border-radius: 10px 10px 10px 10px;

    button,
    div,
    li,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &>figure.img {
        margin: 0 auto;
        padding: 0;
        left: 0;
        position: relative;
        height: 100%;

        h2 {
            padding: 0em 0.5em;
            margin: 0;
            width: 100%;
            font-size: 1.5em;
            font-weight: 500;
            z-index: 2;
            overflow: hidden !important;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        img {
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            max-height: 500px;
        }

        figcaption {
            @media all and (max-width: 400px) {
                font-size: 1.125em;
            }

            @media all and (max-width: 768px) {
                font-size: 1em;
            }
            text-align: left;
            padding: 2% .9em;
            font-size: 0.813em;
            margin: 0 auto;
            font-size: 0.8em;
            bottom: 50px;
            width: 100%;
            z-index: 3;
            max-height: 35%;
            overflow-y: auto;

            &::before {
                display: none;
            }

            * {
                text-align: left;
            }

            li {
                display: list-item;
                line-height: 130%;
            }

            p, h1, h2, h3, h4, h5, h6, div {
                display: block;
            }
        }

        .index-fs {
            text-align: center;
            color: white;
            margin: 10px auto;
        }
    }

    .prev,
    .prev-fs {
        left: 0;
    }

    .next,
    .next-fs {
        right: 0;
    }

    .prev,
    .next-fs {
        text-align: right;
    }

    .next,
    .prev-fs {
        text-align: left;
    }

    .prev-fs,
    .next-fs {
        position: fixed;
        display: inline-block;

        margin: 0 4px auto;
        bottom: 0;
        top: 0;
        z-index: 2;
        font-size: 6em;
        line-height: 0;
        padding: 0;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0);
        border: solid 0px rgba(0, 0, 0, 0);
        cursor: pointer;

        &:hover {
            color: $secondary-color;
        }

        &:active {
            color: $secondary-color-light;
            outline: 0;
        }

        .prev-style,
        .next-style {
            border-radius: 50%;
            background-color: rgba(128, 128, 128, .5);
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            line-height: 0.5;
            width: 0.7em;
            height: 0.7em;


            &:hover {
                background-color: rgba(114, 114, 114, .4);
            }

            &:active {
                background-color: rgba(100, 100, 100, .4);
                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 1);

            }
        }
    }

    .prev,
    .next {
        margin: 0 auto;
        bottom: 50px;
        position: absolute;
        z-index: 2;
        font-size: 6em;
        line-height: 0;
        padding: 0;
        height: 50%;
        width: 10%;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0);
        border: solid 0px rgba(0, 0, 0, 0);
        cursor: pointer;

        &:hover {
            color: $secondary-color;
        }

        &:active {
            color: $secondary-color-light;
            outline: 0;
        }

        .prev-style,
        .next-style {
            border-radius: 50%;
            background-color: rgba(128, 128, 128, .5);
            display: inline-block;
            text-align: center;
            line-height: 0.5;
            width: 0.7em;
            height: 0.7em;


            &:hover {
                background-color: rgba(114, 114, 114, .4);
            }

            &:active {
                background-color: rgba(100, 100, 100, .4);
                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 1);

            }
        }
    }

    ul.gallery-nav {
        flex: 0 1 100%;
        display: flex;
        list-style-type: none;
        color: white;
        height: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        background-color: $gray;
        z-index: 2;

        .show-caption,
        .show-index,
        .show-fullscreen {
            text-align: center;
            text-decoration: none;
            font-weight: 500;
            color: white;
            margin: 0;
            padding: 0;

            button {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }
        }

        .show-caption,
        .show-fullscreen {

            button {
                width: 100%;
                height: 100%;
                
            }

            &:hover {
                color: $secondary-color;
                transition: all .3s ease-out;
                transform: scale(1.02);
                font-weight: 600;
                cursor: pointer;
            }

            &:active {
                color: $secondary-color-light;
            }
        }

        .show-caption {
            @media all and (max-width: 500px) {
                flex: 0 0 70%;
            }

            @media all and (max-width: 768px) {
                flex: 0 0 35%;
            }

            flex: 0 0 22%;
            margin-right: auto;

            button {
                text-align: left;
                padding-left: 0.9em;
            }
        }

        .show-index {
            @media all and (max-width: 500px) {
                display: none;
                flex: 0%;
            }

            @media all and (max-width: 768px) {
                flex: 0 0 42%;
            }

            flex: 0 0 48%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .show-fullscreen {
            @media all and (max-width: 500px) {
                flex: 0 0 20%;
                border-left: none;

                button {
                    width: 50px;
                    font-size: x-large;
                }
            }

            @media all and (max-width: 768px) {
                flex: 0 0 10%;
            }

            flex: 0 0 12%;
        }

        .show-border {
            @media all and (max-width: 500px) {
                display: none;
                flex: 0%;
            }

            @media all and (max-width: 768px) {
                flex: 0 0 6%;
            }

            flex: 0 0 6%;
            font-size: 1.5em;
            font-weight: 500;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }

    .slider-modal {
        display: none;
        width: 100% !important;
        height: 100% !important;
        z-index: 12;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0;

        &>figure.img {
            margin: 0 auto;
            display: none;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background-color: black;
            border-radius: 10px 10px 0px 0px;
            overflow-y: auto;

            h2 {
                position: relative;
                color: white;
                height: auto;
                font-size: 1.5em;
                font-weight: 500;
                text-align: center;
            }

            img {
                margin: 0 auto;
                padding: 0;
                max-width: 80%;
            }

            figcaption {
                @media only screen and (max-device-width: 320px) and (orientation: landscape) {
                    display: none;
                }
                text-align: left;
                margin: 10px auto !important;
                bottom: 0 !important;
                width: 100%;
                max-width: 80%;
                color: white;
                font-size: 0.8em;
                position: relative !important;
                max-height: 100% !important;
                z-index: 2 !important;
                padding: 1% 0;

                &::before {
                    display: none;
                }

                * {
                    width: 100%;
                    text-align: left;
                    margin: .5em 0;
                }

                li {
                    display: list-item;
                }

                p, h1, h2, h3, h4, h5, h6, div {
                    display: block;
                }
            }

            .index-fs {
                text-align: left;
                color: white;
                margin: 10px auto;
                padding-left: 2%;
            }
        }

        .close-fs {
            width: 2em !important;
            height: 2em !important;
            z-index: 13;
            right: 0;
            position: fixed;
            border: none;
            border-radius: 0%;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            padding-right: 2%;
            font-weight: 700;
            font-size: 1.5em;
            font-family: verdana;
            cursor: pointer;

            &:hover {
                color: $secondary-color;
            }

            &:focus {
                color: $secondary-color-light;
                outline: 0;
            }
        }
    }

    .full-screen {
        width: 100% !important;
        height: 100% !important;
        background-color: rgba(0, 0, 0, 1);
        z-index: 10;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
}