@use "sass:math";
// The following provides utility classes for styling the height and width of table cells
// This can be used to adjust column widths or provide height for "fill in the blank" style tables
// Width in %
@for $i from 1 through 100 {
    .width#{$i} {
        width: calc(1% * $i);
    }
}

// Height in px
@for $i from 1 through 20 {
    $var: $i * 25;
    .height#{$var} {
        height: calc(1px * $var);
    }
}

// Height Gaps
@for $i from 1 through 500 {
    @if $i % 25 !=0 {
        $int: (math.ceil(calc($i/25)) * 25);
        .height#{$i} {
            @extend .height#{$int};
        }
    }
}
